* {
  box-sizing: border-box;
}

header, footer {
    background-color: #50514F;
    font-style: bold;
    text-align: center;
    font-family: copperplate, futura, sarif;
    color: #fffcff;
}

main {
    text-align: center;
    background-color: #fffcff;
    color: #50514F;
    margin-left: 400px;
    margin-right: 400px;
}

h2 {
    color: #50514F;
    font-family: kabel, 'avant garde medium', sans-sarif;
}

body, footer, main {
    text-align: center;
}

div {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
