* {
  box-sizing: border-box;
}

header {
    background-color: 247BA0;
    font-style: bold;
    text-align: center;
    font-family: copperplate, futura, sarif;
    color: #333333;
}

main {
    text-align: center;
    background-color: #fffcff;
}

h2 {
    color: #50514F;
    font-family: kabel, 'avant garde medium', sans-sarif;
}

p {
    color: #50514F;
}

body, ui, footer {
    text-align: center;
}

div {
    width: 450px;
}



